@model List<TalentSearchWebApp.Models.NotificationEmail>
@{
    Layout = null;
    ViewBag.Title = "TalentEmail";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Talent Notification</title>
</head>
<body>
    <table>

        <tr>

            <td>

                <div style="border-top: 3px solid #22BCE5"></div>

                <span style="font-family: Arial; font-size: 10pt">Hello @Model[0].ProductionComanyName
                    <b>,</b>
                </span>
                <br />
                <br />

                <div id="Greetings" class="article demo">Greetings for the day!!!</div>

                <br />

                <div id="emailStart" class="article demo">Your Job " @Model[0].JobName "  has been found new matches. Please find below the details.</div>

                <table style="width: 80%!important; border-collapse: separate; border-spacing: 1em;">
                    @{
                   
                        foreach (var obj in @Model)
                        {
                        <tr>

                            <td>
                                @Html.Raw("<a href='http://jadetalent.co.nz/Home/Profile?ProfileId=" + obj.TalentId + "'><img src='" + obj.PicUrl + "' alternate='" + obj.TalentName + "' height='150px' width='150px' /></a>")
                            </td>
                            <td style="text-align:left;">
                                @Html.Raw("Talent Name : " + obj.TalentName)
                                <br />
                                <br />
                                @Html.Raw("Region : " + obj.Region)

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Html.Raw("<div id='otherInfo" + obj.TalentName + "' class='article demo addcomment'></div>")
                            </td>
                        </tr>


                        }
                   
                    }
                </table>
                <br />
            </td>
        </tr>
        <tr>
            <td style="white-space: normal">
                <br />
                Thanks<br />
                <div>
                    <div>Stacey Jade Houkamau</div>
                    <div><strong>Director</strong>&nbsp;&nbsp;Jade Talent Limited</div>
                    <div><strong>m</strong>:&nbsp;<a style="word-break: break-all"></a><a dir="ltr" href="tel:+64211855321" style="word-break: break-all" target="_blank">+64211855321</a>&nbsp;</div>
                    <div><strong>w</strong>:&nbsp;<a href="https://www.jadetalent.co.nz/" style="word-break: break-all" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.jadetalent.co.nz/&amp;source=gmail&amp;ust=1499014976720000&amp;usg=AFQjCNFYA7lSykV5LEx26442ZUg53w8hnQ">www.jadetalent.co.nz</a>&nbsp;</div>
                    <div><strong>e</strong>:&nbsp;<a style="word-break: break-all">&nbsp;stacey@jadetalent.co.nz</a>&nbsp;</div>

                </div>
                <div>
                    <img alt="" height="129" src="http://jadetalent.co.nz/Content/images/Signature_Logo.jpg" width="200" style="border-width: 0px; vertical-align: middle" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 152px; top: 605px;">
                    </div>
                </div>
            </td>
        </tr>

    </table>

</body>
</html>
