@model List<TalentSearchWebApp.Models.NotificationEmail>
@{
    Layout = null;
    ViewBag.Title = "TalentEmail";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Talent Notification</title>
</head>
<body>
    <table>

        <tr>

            <td>

                <img src="http://jadetalent.co.nz/Images/TalentBack.png" width="90%" height="200px" />
                <br />
                <br />

                <div style="border-top: 3px solid #22BCE5"></div>

                <span style="font-family: Arial; font-size: 10pt">Hello @Model[0].ProductionComanyName<b>
                   
                </b>,<br />
                    <br />

                    <span>Greetings for the day!!!</span><br />

                    Your Job [ @Model[0].JobName ]  has been found new matches. Please find below the details.
                    @{
                        
                        foreach (var obj in @Model)
                        {
                        <br />
                        <br />
                        @Html.Raw("Talent Name : " + obj.TalentName)
                        <br />
                        @Html.Raw("Region : " + obj.Region)
                        <br />
                        <br />
                        @Html.Raw("Please click the below link to see the profile.")
                        <br />
                        @Html.Raw("<a href='http://jadetalent.co.nz/Home/Profile?ProfileId=" + obj.TalentId + "'>" + obj.TalentName + "</a> ")
                        <br />
                        <br />
                        }
                    }
                    Thanks<br />
                    Jade Admin

                </span></td>

        </tr>

    </table>

</body>
</html>
