@model BusinessEntities.Model.SubCategoryEntity
@{
    ViewBag.Title = "AddChildCategory";
}

<style type="text/css">
    .slider {
        display: none;
    }
</style>

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="padding-top: 0.5em;">
                <h3>Add Production Company</h3>
            </div>

        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="row">


                    <form name="Talentform">
                        <div class="col-xs-12 form-group">
                            <span>Main Category</span>
                        </div>
                        <div class="col-xs-12 form-group">
                            <select id="MainCategory" class="form-control" required>
                                <option value="">---Please Select---</option>
                                @{
                                    foreach (var pair in ViewBag.AvaiableEnums)
                                    {
                                    @Html.Raw("<option value='" + pair.Value + "'>" + pair.Text + "</option>");
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-xs-12 form-group">
                            <span>SubCategory Name</span>
                        </div>
                        <div class="col-xs-12 form-group">
                            @Html.TextBoxFor(model => model.SubCategoryName, new { required = "", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SubCategoryName)
                        </div>

                        <div class="col-xs-12 form-group">
                            <span>SubCategory Value</span>
                        </div>
                        <div class="col-xs-12 form-group">

                            @Html.TextBoxFor(model => model.SubCategoryValue, new { required = "", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SubCategoryValue)
                        </div>


                        <div class="col-xs-12 form-group">
                            <span>Description</span>
                        </div>
                        <div class="col-xs-12 form-group">
                            @Html.TextBoxFor(model => model.SubCategoryDescription, new { required = "", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SubCategoryDescription)

                        </div>
                        <div class="col-xs-12 form-group">
                            <input type="button" value="Create" onclick="SaveSubCategory()" />
                            <input type="submit" id="formsubmit" style="display: none" />
                        </div>

                    </form>

                    <div class="col-xs-12 form-group">
                        @Html.ActionLink("Back to List", "Categories")
                    </div>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</div>


<script>
    function SaveSubCategory() {
        var $myForm = $('#Talentform');
        if (!$myForm.context.forms[0].checkValidity()) {
            $("#formsubmit").click();
            return;
        }
        var categoryObj = {};
        categoryObj["SubCategoryName"] = $("#SubCategoryName").val();
        categoryObj["SubCategoryValue"] = $("#SubCategoryValue").val();
        categoryObj["SubCategoryDescription"] = $("#SubCategoryDescription").val();
        categoryObj["ParentId"] = $("#MainCategory").val();
        $.post('/Admin/SaveChildCategory', categoryObj,
           function (data) {
               if (data == true)
                   location = "/Admin/Categories";
               else
                   alert("Not delete something Wrong");
           });
    }
</script>
