@model BusinessEntities.ViewModel.VmInsertJob
@{
    ViewBag.Title = "Create Job";
}
<style>
    #banner
    {
        display: none;
    }
</style>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
@using (Ajax.BeginForm("CreateJob", "Admin", new AjaxOptions()
{
    OnSuccess = "Success"
}))
{
<header class="major">
    <h2>Fill out job details</h2>
</header>
<div class="container WhiteBack">
    <div class="row" style="font-weight: bolder;">
        <div class="12u wufoo">
            <section class="section">
                <div class="step well">
                <fieldset>
                        <legend class="headerlegend">Job Details</legend>
                        <ul>
                            <li>
                            <span>
                            @Html.HiddenFor(model=>model.JobId)
                                        <label for="JobNameField">Job Title</label>
                                        @Html.TextBoxFor(model => model.JobName, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "1",
                                       @id = "JobNameField",
                                       @name = "JobNameField"
                                   })
                                    </span>
                                    <span>
                                        <label for="JobDescriptionField">Job Description</label>
                                        @Html.TextAreaFor(model => model.JobDescription, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "2",
                                       @id = "JobDescriptionField",
                                       @name = "JobDescriptionField"
                                   })
                                    </span>
                                    <span>
                                        <label for="ProductionCompanyField">Production Company</label>
                                         @Html.DropDownListFor(model => model.ProductionCompanyId, new SelectList(Model.ProductionCompanyList, "Id", "Name"), "--Please Select--",
                                                    new { @id = "ProductionCompanyField", @name = "ProductionCompanyField", @class = "field select addr", @tabindex = "3", required = "" })
                                    </span>
                                    <span>
                                        <label for="RegionField">Region</label>
                                        @Html.DropDownListFor(model => model.RegionId, new SelectList(Model.RegionEntities, "RegionId", "RegionName"), "--Please Select--",
                                                                    new { @id = "RegionField", @name = "RegionField", @class = "field select addr", @tabindex = "4", required = "" })
                                    </span>
                                    <span>
                                        <label for="JobStatusField">Job Status</label>
                                         @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.SubCategoryEntities.Where(x => x.CategoryName == "Job Status"), "SubCategoryId", "SubCategoryValue"), "--Please Select--",
                                                                    new { @id = "JobStatusField", @name = "JobStatusField", @class = "field select addr multiselect", @tabindex = "5" })
                                    </span>
                                    <span>
                                        <label for="GenderField">Gender</label>
                                        <select id="GenderField" name="GenderField" class="field select addr" value="" tabindex="6">
                                            <option value="">--Please Select--</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </span>
                                    <span>
                                        <label for="MinAgeField">Min Age</label>
                                        @Html.TextBoxFor(model => model.MinAge, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "7",
                                       @id = "MinAgeField",
                                       @name = "MinAgeField",
                                       @type = "number"
                                   })
                                    </span>
                                    <span>
                                        <label for="MaxAgeField">Max Age</label>
                                        @Html.TextBoxFor(model => model.MaxAge, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "8",
                                       @id = "MaxAgeField",
                                       @name = "MaxAgeField",
                                       @type = "number"
                                   })
                                    </span>
                                     <span>
                                        <label for="EyeColorField">Eye Color</label>
                                         @Html.TextBoxFor(model => model.EyeColor, new
                                    {
                                        @class = "field text ln",
                                        @tabindex = "9",
                                        @id = "EyeColorField",
                                        @name = "EyeColorField"
                                    })
                                    </span>
                                     <span>
                                        <label for="HeightField">Height</label>
                                        @Html.TextBoxFor(model => model.Height, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "10",
                                       @id = "HeightField",
                                       @name = "HeightField"
                                   })
                                    </span>
                                     <span>
                                        <label for="WaistField">Waist</label>
                                        @Html.TextBoxFor(model => model.Waist, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "11",
                                       @id = "WaistField",
                                       @name = "WaistField"
                                   })
                                    </span>
                                     <span>
                                        <label for="HairColorField">Hair Color</label>
                                        @Html.TextBoxFor(model => model.HairColor, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "12",
                                       @id = "HairColorField",
                                       @name = "HairColorField"
                                   })
                                    </span>
                                     <span>
                                        <label for="ChestSizeField">Chest Size</label>
                                        @Html.TextBoxFor(model => model.ChestSize, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "13",
                                       @id = "ChestSizeField",
                                       @name = "ChestSizeField"
                                   })
                                    </span>
                                     <span>
                                        <label for="HipSizeField">Hip Size</label>
                                        @Html.TextBoxFor(model => model.HipSize, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "14",
                                       @id = "HipSizeField",
                                       @name = "HipSizeField"
                                   })
                                    </span>
                                    <span>
                                        <label for="EthicityField">Ethicity</label>
                                        @Html.TextBoxFor(model => model.Ethicity, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "15",
                                       @id = "EthicityField",
                                       @name = "EthicityField"
                                   })
                                    </span>
                                    <span>
                                    <label for="AccentField">Accents/Languages</label>
                                    @Html.DropDownListFor(model => model.LanguageIds, new MultiSelectList(Model.SubCategoryEntities.Where(x => x.CategoryName == "New Zealand Language"), "SubCategoryId", "SubCategoryValue"), "--Please Select--",
                                                                                                                 new { multiple = "multiple", @size = "5", @style = "height: 1%;", @id = "AccentField", @name = "AccentField", @class = "field select addr multiselect", @tabindex = "16" })

                                </span>
                                <span>
                                        <label for="skill1NameField">Area of Expertise</label>
                                        @Html.DropDownListFor(model => model.Skills[0].SkillId, new SelectList(Model.SubCategoryEntities.Where(x => x.CategoryName == "Category" && x.ParentId != null), "SubCategoryId", "SubCategoryValue"), "--Please Select--",
                                                                                      new { @id = "skill1NameField", @name = "Skills[0].SkillId", @class = "field select addr", @tabindex = "17" })


                                    </span>
                                    <span>
                                        <label for="skill1DescField">Share your experiences</label>
                                         @Html.TextAreaFor(model => model.Skills[0].Description, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "17",
                                       @id = "skill1DescField",
                                       @name = "Skills[0].Description"
                                   })
                                    </span>
                                    <span>
                                        <label for="PayField">Pay</label>
                                        @Html.TextBoxFor(model => model.Pay, new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "18",
                                       @id = "PayField",
                                       @name = "PayField"
                                   })
                                    </span>
                                    <span>
                                        <label for="NumberOfDaysField">Number Of Days</label>
                                        @Html.TextBoxFor(model => model.NumberOfDays
                                        , new
                                   {
                                       @class = "field text ln",
                                       @tabindex = "19",
                                       @id = "NumberOfDaysField",
                                       @name = "NumberOfDaysField"
                                   })
                                    </span>
                            </li>
                            </ul>
                            </fieldset>
                            <input type="submit" value="Create" />
                </div>
                </section>
        </div>
    </div>
</div>
}
<script src="~/Scripts/Custom/CreateJob.js" type="text/javascript"></script>
