@model BusinessEntities.Model.ProductionCompanyEntitiy
<style type="text/css">
    .slider {
        display: none;
    }
</style>

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="padding-top: 0.5em;">
                <h3>Edit Production Company</h3>
            </div>

        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-6">
                    <div class="row">

                        <div class="col-xs-12 form-group">
                            Production Company Name
                        </div>
                        <div class="col-xs-12 form-group">
                            @Html.TextBoxFor(model => model.ProductionCompanyName, new { required = "", @class = "form-control" })
                        </div>

                        <div class="col-xs-12 form-group">
                            Contact Person
                        </div>
                        <div class="col-xs-12 form-group">
                            @Html.TextBoxFor(model => model.ContactPerson, new { required = "", @class = "form-control" })
                        </div>

                        <div class="col-xs-12 form-group">
                            Phone Number
                        </div>
                        <div class="col-xs-12 form-group">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { required = "", @class = "form-control" })
                        </div>

                        <div class="col-xs-12 form-group">
                            Email
                        </div>
                        <div class="col-xs-12 form-group">
                            @Html.TextBoxFor(model => model.EmailId, new { required = "", @class = "form-control" })
                        </div>

                        <div class="col-xs-12 form-group">
                            Region
                        </div>
                        <div class="col-xs-12 form-group">
                            @Html.DropDownListFor(model => model.RegionId, new SelectList(ViewBag.RegionEntities, "RegionId", "RegionName"), "--Please Select--",
                                                                    new { @id = "RegionField", @name = "RegionField", required = "", @class = "form-control" })
                        </div>

                        <div class="col-xs-12 form-group">
                            Description Notes
                        </div>
                        <div class="col-xs-12 form-group">
                            @Html.TextBoxFor(model => model.DescriptionNotes, new { required = "" , @class = "form-control" })
                        </div>
                        <div class="col-xs-12 form-group">
                            <input type="button" value="Update" onclick="UpdateProductionCompany()" />
                            <input type="submit" value="Submit" style="display: none" id="formsubmit" />
                            <div class="col-xs-12 form-group">
                                @Html.ActionLink("Back to List", "ProductionCompany")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3"></div>
            </div>
        </div>
    </div>
}



<script type="text/javascript">
    var productionCompanyId = @ViewBag.ProductionCompanyId;
</script>
<script src="~/Scripts/Custom/EditProductionCompany.js" type="text/javascript"></script>
