@model List<BusinessEntities.ViewModel.VmTalentEntity>
@{
    ViewBag.Title = "Talents";
}
<style type="text/css">
    .slider {
        display: none;
    }

    .btnwrapper {
        margin-left: 5%;
        margin-bottom: 2%;
        border: 1px solid #000;
        display: inline-block;
        position: relative;
    }

    input[type="checkbox"], input[type="radio"] {
        -moz-appearance: checkbox;
        -webkit-appearance: checkbox;
        -o-appearance: checkbox;
        -ms-appearance: checkbox;
        display: inline;
        float: none;
        margin-right: -2em;
        opacity: 100;
        width: 1em;
        z-index: -1;
    }

    td {
        padding-left: 1em!important;
        padding-right: 1em!important;
    }

    th {
        padding-left: 1em!important;
        padding-right: 1em!important;
        text-align: center;
    }
</style>
<script src="~/Content/JS/linq.js"></script>
<script>
    var profiles=@Html.Raw(Json.Encode(@Model))
</script>

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Talents</h3>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div id='dialog'></div>
        <div class="row titlerow">

            <div class="col-sm-4 col-xs-12">
                <div class="input-group stylish-input-group">
                    <input type="text" id="searchTxt" class="form-control" style="width: 80%" placeholder="Search" />
                    <span class="input-group-addon">
                        <a href="#" onclick='return SearchTalent()'>GO
                        </a>

                    </span>


                </div>
            </div>
            <div class="col-sm-8 col-xs-12" style="padding: 7px 0;">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <input type="button" class="form-control btn btn-primary" style="float: right; margin-bottom: 2%; margin-left: 2em;" value="Send Profiles" onclick="sendTalent();" />
                        <input type="button" class="form-control btn btn-success" style="float: right; margin-bottom: 2%; margin-left: 2em;" value="Add Talent" onclick="AddTalent();" />
                    </div>
                    <div class="col-sm-3 col-xs-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div id="custom-table" class="table">
                @{  
                    WebGrid grid = new WebGrid(Model, ajaxUpdateContainerId: "grid", canPage: false);  
                    @grid.GetHtml(
         tableStyle: "table",
         columns: new[] {  
         grid.Column(format: (item) =>{
             var talentModel = Model.Where(x => x.TalentId == item.TalentId).FirstOrDefault();
             var media = (talentModel.vmMedias).Where(x => x.isProfilePic == true);
             if (media.Count() >0)
    {
        return @Html.Raw("<img src='" + media.FirstOrDefault().MediaPath + "' alt='Image' style='height:80px;width:80px' />");
    }
    else
    {
           return @Html.Raw("<img src='/Images/blank-profile-picture.png' alt='Image' style='height:80px;width:80px' />");
    }
        }),  
         grid.Column("Name",format:(item)=> string.Format("{0} {1}",item.FirstName,item.LastName)),  
         grid.Column("EmailId",header: "Email"),  
         grid.Column("Gender", header: "Gender"),  
         grid.Column("Age",header: "Age"),
         grid.Column("Mobile", header: "Mobile"),
          grid.Column("RegionName", header: "Region"),
          grid.Column("TalentId", header: "Action", canSort:false,  
           
         format: @<text>
                    @Html.Raw("<i class='fa fa-eye' aria-hidden='true' onclick='ViewTalent(" + item.TalentId + ")' ></i>")
                    &nbsp;
            @Html.Raw("<i class='fa fa-trash' aria-hidden='true' onclick='DeleteTalent(" + item.TalentId + ")' ></i>")
                    &nbsp;
            @Html.Raw("<i class='fa fa-pencil' aria-hidden='true' onclick='EditTalent(" + item.TalentId + ")' ></i>")
                    &nbsp;
            @Html.Raw("<input type='checkbox' class='profileSelect' aria-hidden='true' data-label='" + item.TalentId + "' />")
                    </text>  
        )  
         //, canSort:false,  
           
        /* format: @<text>
            @Html.Raw("<i class='fa fa-pencil' aria-hidden='true' onclick='EditCategories(" + item.SubCategoryId + ")' ></i>")
            @Html.Raw("<i class='fa fa-trash' aria-hidden='true' onclick='DeleteTalent(" + item.TalentId + ")' ></i>")
            </text>  
        )  */
     })  
                }
            </div>
        </div>
    </div>

</div>
<script>
    function AddTalent() {
        window.location = "/Home/RegisterTalent";
    }

    function ViewTalent(TalentId) {
        window.location = "/Home/Profile?ProfileId=" + TalentId;
    }

    function EditTalent(TalentId) {
        window.location = "/Admin/EditTalent?TalentId=" + TalentId;
    }

    function DeleteTalent(TalentId) {
        if (confirm("Are You Sure Delete Selected Talent?")) {
            $.get('/Admin/DeleteTalent?TalentId=' + TalentId,
                function (data) {
                    if (data == true)
                        window.location = "/Admin/Talents";
                    else
                        alert("Not deleted something Wrong");
                });
        }
    }
    function SearchTalent() {
        var searchKey = $("#searchTxt").val();
        window.location = "/Admin/Talents?Search=" + searchKey;
    }

    function sendTalent(){
        var sendProfiles={};
        sendProfiles.candidateList=[];
        $('.profileSelect:checkbox:checked').each(function(){
            var profileId=$(this).attr('data-label');
            var profile=Enumerable.From(profiles).Where(function(talent){
                return talent.TalentId==profileId;
            }).ToArray();
            var candidate={};
            candidate.RegionName=profile[0].RegionName;
            candidate.CandidateName=profile[0].FirstName+" "+profile[0].LastName;
            candidate.ProfileId=profileId;
            var media=Enumerable.From(profile[0].vmMedias).Where(function(talent){
                return talent.MediaType=="Image";
            }).ToArray();
            if(media.length>0){
                var MediaPath=media[0].MediaPath.split('/');
                candidate.profilePicPath=MediaPath.pop();
            }
            else
                candidate.profilePicPath="";
            sendProfiles.candidateList.push(candidate);
        });
        if (sendProfiles.candidateList.length==0){
            alert("Please select profiles..")
            return;
        }
        $.ajax({
            url: '/Email/ProductionEmailFormat',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(sendProfiles),
            processData: false,
            cache: false,
            success: function (data) {
                EnquiryObj={};
                EnquiryObj["Message"] = data;
                sendEnquiry(EnquiryObj).then(function () {
                    window.location = "../Home/MessagePage?messageKey=EnquirySent";
                }, function (error) {
                    alert('Please try after some time.');
                });
            },
            error: function (xhr) {
                alert('Please try after some time.');
            }
        });
    }

    function sendEnquiry(messageObj) {
        return $.ajax({
            url: '/Admin/SendEmail',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(messageObj),
            processData: false,
            cache: false,
            success: function (data) {

            },
            error: function (xhr) {
                alert('Please try after some time.');
            }
        });

    }

</script>
