@{
    var MenuModel = ViewBag.MenuModel;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Jade - Home</title>
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link rel="icon" href="/Content/images/logo.png">
    @*<link href="/Content/css/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/Content/css/Jadestyle.css" rel="stylesheet" />
    <style>
        .clearfix:after {
            display: block;
            clear: both;
        }

        /*----- Menu Outline -----*/
        .menu-wrap {
            width: 100%;
            box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
            background: #3e3436;
        }

        .menu {
            width: 1000px;
            margin: 0px auto;
        }

            .menu li {
                margin: 0px;
                list-style: none;
                font-family: 'Ek Mukta';
            }

            .menu a {
                transition: all linear 0.15s;
                color: #919191;
            }

            .menu li:hover > a, .menu .current-item > a {
                text-decoration: none;
                color: #be5b70;
            }

            .menu .arrow {
                font-size: 11px;
                line-height: 0%;
            }

            /*----- Top Level -----*/
            .menu > ul > li {
                float: left;
                display: inline-block;
                position: relative;
            }

                .menu > ul > li > a {
                    padding: 0px 30px;
                    display: inline-block;
                    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
                }

                .menu > ul > li:hover > a, .menu > ul > .current-item > a {
                    background: #2e2728;
                }

        /*----- Bottom Level -----*/
        .primaryMenu:hover .sub-menu {
            z-index: 1;
            opacity: 1;
            display: block;
        }

        .sub-menu {
            width: 150%;
            padding: 5px 0px;
            position: absolute;
            top: 100%;
            left: 0px;
            z-index: -1;
            opacity: 0;
            transition: opacity linear 0.15s;
            box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
            background: #2e2728;
            display: none;
        }

            .sub-menu li {
                display: block;
                font-size: 16px;
            }

                .sub-menu li a {
                    /*padding: 10px 20px;*/
                    display: block;
                }

                    .sub-menu li a:hover, .sub-menu .current-item a {
                        background: #3e3436;
                    }

        #loading-image {
            visibility: hidden;
            background-color: rgba(255,255,255,0.7);
            position: absolute;
            z-index: +100 !important;
            width: 100%;
            height: 100%;
        }

            #loading-image img {
                width: 600px;
                height: 450px;
                background: url(loading.gif) 50% no-repeat;
                border: 1px solid black;
                border-radius: 5px;
            }

        .inner h2 {
            color: white;
            font: bold 52px Helvetica, Arial, Sans-Serif;
            position: relative;
            top: -3px;
            left: -3px;
            text-shadow: 1px 1px #fe4902, 2px 2px #fe4902, 3px 3px #fe4902, 4px 4px #fe4902, 5px 5px #fe4902, 6px 6px #fe4902;
        }

        .wrapper {
            background: WhiteSmoke!important;
            color: black!Important;
            font-family: Calibri;
        }
    </style>
    <script src="/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="top" class="transparent-bg">

    <!-- Header -->
    <header>

        <div class="topbar">
            <div class="container">
                <div class="row">
                    @*  <div class="col-sm-6 col-xs-12">Call Us: 021 1855321 - Mail info@jade.com</div>*@
                    <div class="mynav">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">

                                    <nav class="navbar navbar-default">
                                        <div class="container-fluid">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                                <a class="navbar-brand" href="http://jadetalent.co.nz/">
                                                    <img src="/Content/images/logo.png" class="logostyle">
                                                </a>
                                            </div>


                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav navbar-right">

                                                    <li><a href="/Home/index">Home</a></li>
                                                    @{ foreach (var menu in MenuModel)
                                                       {
                                                           if (menu.Skills.Count > 0 && menu.MainSkil != "Admin")
                                                           {
                       
                                                        <li class="dropdown">
                                                            @Html.Raw("<a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>" + menu.MainSkil + "</a>")

                                                            <ul class="dropdown-menu">
                                                                @{ foreach (var submenu in menu.Skills)
                                                                   {
                                                                    @Html.Raw("<li><a href='/Home/SearchCategory/" + menu.MainSkil + "/" + submenu.SkillName + "'>" + submenu.SkillName + "</a></li>")
                                                                   }
                                                                }


                                                            </ul>
                                                        </li> 
                                                           }
                                                           else if (menu.MainSkil == "Admin")
                                                           {
                                                        <li class="dropdown">
                                                            @Html.Raw("<a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>" + menu.MainSkil + "</a>")

                                                            <ul class="dropdown-menu">
                                                                @{ foreach (var submenu in menu.Skills)
                                                                   {
                                                                    @Html.Raw("<li><a href='/" + menu.MainSkil + "/" + submenu.SkillValue + "'>" + submenu.SkillName + "</a></li>")
                                                                   }
                                                                }
                                                                <li><a href="/Admin/LogOut">Logout</a></li>

                                                            </ul>
                                                        </li> 
                                                           }
                                                           else
                                                           {
                                                        @Html.Raw("<li><a href='#'>" + menu.MainSkil + "</a></li>")
                                                           }
                                                       }
                                                    }
                                                    <li><a href="/Home/RegisterTalent">Register</a></li>
                                                    <li><a href="/Home/ContactUs">Contact Us</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </header>


    <div class="content">

        <div class="talent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        @RenderBody()
                    </div>
                </div>
                <div class="row footerRow">
                    <footer id="footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <span style="margin-right: 1em"><a href="/">Home</a></span> |
                                    <span style="margin-right: 1em"><a href="/Admin/LogOn">Admin</a></span>|
                                     <span style="margin-right: 1em"><a href="Home/ContactUs">Contact US</a></span>
                                </div>
                                <div class="col-sm-5 col-xs-12">&copy; 2017 JADE TALENT. All right reserved.</div>
                                <div class="col-sm-3 col-xs-12">
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/JS/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/JS/bootstrap.min.js"></script>
    <script>
        $(function () {
            $(".dropdown").hover(
                function () { $(this).addClass('open') },
                function () { $(this).removeClass('open') }
            );
        });

        // Script
        $('#custom-table').datagrid({
            inputs: {
                select: {
                    el: $('<select class="form-control datagrid-input">'),
                    onShow: function (cell) {
                        // Set the options
                        if (!$(this).find('option').length) {
                            $(this).append($('<option disabled="disabled">Select a category</option>'))
                            $(this).append($('<option value="shoe">Shoe</option>'))
                            $(this).append($('<option value="t-shirt">T-Shirt</option>'))
                            $(this).append($('<option value="pants">Pants</option>'))
                        }

                        var inputPadding = parseInt(cell.data('padding')) - 1
                        $(this).css('padding', inputPadding + 'px')
                        $(this).css('width', '100%')
                        $(this).css('height', '100%')
                        $(this).css('top', cell.offset().top.toString + 'px')
                        $(this).css('left', cell.offset().left.toString + 'px')

                        $(this).val(cell.data('value'))
                    },
                    onChange: function (cell) {
                        cell.data('value', $(this).val())
                        cell.text($(this).find('option[value=' + $(this).val() + ']').text())
                    },
                    isChanged: function (cell) {
                        return $(this).val() != cell.data('value')
                    }
                },
                money: {
                    el: $('<input type="text" class="form-control datagrid-input">'),
                    onShow: function (cell) {
                        var inputPadding = parseInt(cell.data('padding')) - 1
                        $(this).css('padding', inputPadding + 'px')
                        $(this).css('width', '100%')
                        $(this).css('height', '100%')
                        $(this).css('top', cell.offset().top.toString + 'px')
                        $(this).css('left', cell.offset().left.toString + 'px')

                        $(this).val(cell.data('value'))
                    },
                    onChange: function (cell) {
                        cell.data('value', $(this).val())
                        cell.text('$' + $(this).val())
                    },
                    isChanged: function (cell) {
                        return $(this).val() != cell.data('value')
                    }
                }
            }
        })
</script>

</body>
</html>
