@model BusinessEntities.ViewModel.VmTalentEntity

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    li {
        list-style-type: none;
    }

    .slider {
        display: none;
    }

    .wrapper.style1 {
        background-color: whitesmoke;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .modalbtn {
        background: none!important;
        border: none;
        padding: 0!important;
        font: inherit;
        /*border is optional*/
        border-bottom: 1px solid #444;
        cursor: pointer;
    }

    .tabs {
        display: table;
        height: 50px;
        width: 100%;
    }

        .tabs a {
            display: table-cell;
            vertical-align: middle;
            color: #fff;
            text-align: center;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

            .tabs a:hover {
                color: #e95e07;
            }



        .tabs .enquire, .tabs .career {
            line-height: 22px;
            padding: 8px 8px 8px 18px;
        }

        .tabs .current {
            border-top: 1px solid #666;
            border-left: 1px solid #666;
            border-right: 1px solid #666;
            text-decoration: none;
            border-bottom: none;
        }

        .tabs .profile.current {
            border-left: 0!important;
        }

        .tabs .credits.current {
            border-right: 0!important;
        }

        .tabs .career.current {
            border-right: 1px solid #666;
        }

        .tabs .enquire.current, .tabs .sign-up.current {
            font-size: 23px;
            font-weight: bold;
        }

    .tab {
        display: none;
    }

        .tab#profile {
            display: block;
        }

            .tab#profile table {
                font-weight: 100;
                font-size: 14px;
                margin-top: 26px;
                color: #fff;
            }

                .tab#profile table tr {
                    height: 22px;
                    line-height: 22px;
                }

                    .tab#profile table tr :nth-child(1) {
                        width: 100px;
                    }

        .tab#career {
            margin-top: 26px;
        }

    a.tab.active {
        color: black;
    }

    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
    height:27em;
    width:21em;
    }

</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="~/Content/JS/ImageSlider.js"></script>

<div class="page-title">
    <div class="container">
        <div class="row" style="background-color: rgba(0,0,0,0.7); color: whitesmoke;">
            <div class="col-xs-12 text-center">
                <h3 style="color:#de291e">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h3>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <section class="jk-slider">
                    <div id="carousel-example" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @{
                                if (Model != null)
                                {
                                    int mediaCounter = 0;
                                    foreach (var element in Model.vmMedias)
                                    {
                                        if (element.MediaType == "Image")
                                        {
                                            if (mediaCounter == 0)
                                            {
                                @Html.Raw(" <li data-target='#carousel-example' data-slide-to='" + mediaCounter + "' class='active'></li>");
                                            }
                                            else
                                            {
                                @Html.Raw(" <li data-target='#carousel-example' data-slide-to='" + mediaCounter + "'></li>");
                                            }
                                            mediaCounter++;
                                        }
                                    }
                                }
                            }
                        </ol>

                        <div class="carousel-inner">

                            @{
                                if (Model != null)
                                {
                                    int mediaCounter = 0;
                                    foreach (var element in Model.vmMedias)
                                    {
                                        if (element.MediaType == "Image")
                                        {
                                            if (mediaCounter == 0)
                                            {
                                @Html.Raw(" <div class='item active'><img src='" + element.MediaPath + "'></div>");
                                            }
                                            else
                                            {
                                            
                                @Html.Raw(" <div class='item'><img src='" + element.MediaPath + "'></div>");
                                            }
                                            mediaCounter++;

                                        }
                                    }
                                }
                            }
                            @*<a class="left carousel-control" href="#carousel-example" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>*@
                        </div>


                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-sm-5 text-center personal-info">
                <div id="talent-info" class="panel panel-default card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a class="tab panel-title" role="tab" data-toggle="tab" data-target="profile" href="#" title="profile">Profile</a></li>
                        <li role="presentation"><a class="tab panel-title" data-target="skills" href="#" title="career" role="tab" data-toggle="tab">Skills</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li role="presentation"><a class="tab" data-target="Contact" href="#" title="career" role="tab" data-toggle="tab">Contact</a></li>
                        }
                    </ul>

                    <div id="profile" class="tabdiv panel-body" style="display: block;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayNameFor(model => model.Age)
                                </div>
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayFor(model => model.Age)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayNameFor(model => model.Ethnicity)
                                </div>
                                <div class="form-stronglabel  col-xs-6">
                                    @Html.DisplayFor(model => model.Ethnicity)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayNameFor(model => model.Gender)
                                </div>
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayFor(model => model.Gender)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayNameFor(model => model.Height)
                                </div>
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayFor(model => model.Height)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayNameFor(model => model.HairColor)
                                </div>
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayFor(model => model.HairColor)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayNameFor(model => model.EyeColor)
                                </div>
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayFor(model => model.EyeColor)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">

                                    @Html.DisplayNameFor(model => model.Waist)
                                </div>
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayFor(model => model.Waist)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">
                                    Chest/Bust Size              
                                </div>
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayFor(model => model.ChestSize)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayNameFor(model => model.HipSize)
                                </div>
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayFor(model => model.HipSize)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayNameFor(model => model.RegionName)
                                </div>
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayFor(model => model.RegionName)
                                </div>
                            </div>
                        </div>
                          <div class="row">
                            <div class="col-xs-12">
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayNameFor(model => model.Nationality)
                                </div>
                                <div class="form-stronglabel col-xs-6">
                                    @Html.DisplayFor(model => model.Nationality)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="skills" class="tabdiv" style="display: none;">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 profile-info">
                            <h3>Experiences</h3>
                                </div>
                        </div>
                        @{
                            if (Model != null && Model.vmMainSkills != null)
                            {
                                foreach (var element in Model.vmMainSkills)
                                {
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 profile-info">
                                   @* <h3>@Html.Raw(element.MainSkil)</h3>*@
                                    @if (element.Skills != null)
                                    {

                                        foreach (var childelement in element.Skills)
                                        {
                               
                                        @*<p>@Html.Raw(childelement.SkillName)
                                        </p>*@
                                            if (!string.IsNullOrEmpty(childelement.Description))
                                            {
                                        <p>
                                            @Html.Raw(childelement.Description ?? "")
                                        </p>
                                            }


                                        }
                                    }
                                </div>
                            </div>
                      
                                }
                            }
                        }
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 profile-info">

                                <h3>Accents/Languages</h3>
                                @{
                                    if (Model != null)
                                    {
                                        foreach (var element in Model.Languages)
                                        {
                                    @Html.Raw("<p>" + element + "</p>");
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 profile-info">
                                <h3>Training and life skills</h3>
                                @Html.DisplayFor(model => model.Hobbies)
                            </div>

                        </div>

                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="Contact" class="tabdiv" style="display: none;">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 profile-info">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-stronglabel col-xs-6">
                                                @Html.DisplayNameFor(model => model.EmailId)
                                            </div>
                                            <div class="form-stronglabel col-xs-6">
                                                @Html.DisplayFor(model => model.EmailId)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-stronglabel col-xs-6">
                                                @Html.DisplayNameFor(model => model.Mobile)
                                            </div>
                                            <div class="form-stronglabel col-xs-6">
                                                @Html.DisplayFor(model => model.Mobile)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-stronglabel col-xs-6">
                                                Alternate Number
                                            </div>
                                            <div class="form-stronglabel col-xs-6">
                                                @Html.DisplayFor(model => model.Phone)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                @{
              
       
                    if (Model != null)
                    {
                        if (Model.vmMedias.Where(x => x.MediaType == "Video").Count() > 0)
                        {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Videos</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12 profile-info">
                                    @foreach (var element in Model.vmMedias)
                                    {
                                        if (element.MediaType == "Video")
                                        {
                       
                                        <div class="video-thumbnail">
                                            @Html.Raw("<button onclick=Openpop('myModal" + element.MediaId + "') class='glyphicon glyphicon-play'></button><br/><br/>")
                                            <div style="background-color: rgba(0,0,0,0.9); height: 15em;" alt="Profile Video" class="img-thumbnail img-responsive center-block" />
                                        </div>
                                                    
                                        @Html.Raw("<span>" + element.MediaName + "</span><br/><br/>")
                      
                                        @Html.Raw("<div id='myModal" + element.MediaId + "' class='modal' style='background-color: rgba(0,0,0,0.7);'>")
                                        <div class="modal-content">
                                            @Html.Raw("<button class='close' onclick=closepop('" + element.MediaId + "')>&times;</button>")
                                            @Html.Raw("<video id='v" + element.MediaId + "' height='100%' width='100%' loop controls>  <source src='" + element.MediaPath + "' type='video/mp4'></video>")

                                        </div>
                                        @Html.Raw("</div>")
                       
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                        }
                    }
                }

            </div>
            <div class="col-xs-12 col-sm-2">
            </div>
        </div>
    </div>
</div>
<script>
    $("#slideshow > div:gt(0)").hide();

    setInterval(function () {
        $('#slideshow > div:first')
          .fadeOut(1000)
          .next()
          .fadeIn(1000)
          .end()
          .appendTo('#slideshow');
    }, 3000);


    // When the user clicks on the button, open the modal 
    function Openpop(modalid) {
        var modal = document.getElementById(modalid);
        modal.style.display = "block";
    }

    function closepop(Mediaid) {
        $("#v" + Mediaid).trigger("pause");
        var modal = document.getElementById("myModal" + Mediaid);
        modal.style.display = "none";
    }

    $(document).ready(function () {
        $(".tab").click(function () {
            var divid = $(this).attr("data-target");
            $(".tabdiv").each(function () {
                if ($(this)[0].id != divid) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });

    $(function () {
        var links = $('a.tab').click(function () {
            links.removeClass('active');
            $(this).addClass('active');
        });
    });

    $(function () {
        $('legend').click(function () {
            $(this).siblings().each(function () {
                if (!$(this).hasClass("modal"))
                    $(this).toggle();
            });
            return false;
        });
    });
</script>
