@model BusinessEntities.ViewModel.VmInsertTalent
@{
    ViewBag.Title = "Index";
}
<style>
    .slider {
        display: none;
    }
</style>

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="padding-top: 0.5em;">
                <h3>FILL OUT YOUR DETAILS</h3>
            </div>

        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <form name="Talentform">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                            <h3 class="panel-title">Communication Details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-xs-12 col-sm-6  form-group">
                                    <label for="FirstNameFileld">First Name</label>
                                    <input type="text" class="form-control" id="FirstNameFileld" required placeholder="Enter First Name" value="" size="8" tabindex="1">
                                </div>

                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="LastNameField">Last Name</label>
                                    <input type="text" class="form-control" id="LastNameField" placeholder="Last Name" required value="" size="14" tabindex="2">
                                </div>


                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="EmailField">Email</label>
                                    <input type="email" class="form-control" id="EmailField" placeholder="Email" required value="" maxlength="255" tabindex="3">
                                </div>


                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="MobileField">Mobile</label>
                                    <input type="text" class="form-control" id="MobileField" placeholder="Mobile Number" required tabindex="5" type="text" maxlength="255" value="">
                                </div>


                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="PhoneField">Alternate Number</label>
                                    <input type="text" class="form-control" id="PhoneField" placeholder="Phone Number" tabindex="6" maxlength="255" value="">
                                </div>



                                <div class="col-xs-12 col-sm-4 form-group">
                                    <label for="RegionField">Region</label>
                                    @Html.DropDownListFor(model => model.RegionId, new SelectList(Model.RegionEntities, "RegionId", "RegionName"), "--Please Select--",
                                                                    new { @id = "RegionField", @name = "RegionField", @class = "form-control no-selection", @tabindex = "11", required = "" })

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Personal Details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6  form-group">
                                    <label for="GenderField">Gender</label>
                                    <select name="GenderField" id="GenderField" class="form-control" required tabindex="12">
                                        <option value="">--Please Select --</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>

                                    </select>

                                </div>

                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="AgeField">Age</label>
                                    <input type="text" class="form-control" id="AgeField" placeholder="Age" required value="" size="8" tabindex="13">
                                </div>

                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="HeightField">Height (cms)</label>
                                    <input type="text" class="form-control" id="HeightField" placeholder="Height" required value="" size="8" tabindex="14">
                                </div>
                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="ChestSizeField">Chest/Bust Size (cms)</label>
                                    <input type="text" class="form-control" id="ChestSizeField" placeholder="Chest/Bust Size" required value="" size="14" tabindex="15">
                                </div>

                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="WaistField">Waist (cms)</label>
                                    <input type="text" class="form-control" id="WaistField" placeholder="Waist" required value="" size="14" tabindex="16">
                                </div>

                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="HipSizeField">Hip Size (cms)</label>
                                    <input type="text" class="form-control" id="HipSizeField" placeholder="Hip Size" required value="" size="14" tabindex="17">
                                </div>
                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="EyeColorField">Eye Color</label>
                                    <input type="text" class="form-control" id="EyeColorField" placeholder="Eye Color" required value="" size="14" tabindex="18">
                                </div>

                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="HairColorField">Hair Color</label>
                                    <input type="text" class="form-control" id="HairColorField" placeholder="Hair Color" required value="" size="14" tabindex="19">
                                </div>

                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="HobbiesField">Hobbies</label>
                                    <textarea class="form-control" id="HobbiesField" placeholder="Hobbies" style="height:8em;" required name="HobbiesField" tabindex="20"></textarea>
                                </div>

                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="AccentField">Accents/ Language</label>
                                    @Html.DropDownListFor(model => model.LanguageIds, new MultiSelectList(Model.SubCategoryEntities.Where(x => x.CategoryName == "New Zealand Language"), "SubCategoryId", "SubCategoryValue"), "--Please Select--",
                                                                                                                 new { multiple = "multiple", @size = "5", @style = "height: 8em;", @id = "AccentField", @name = "AccentField", @class = "form-control multiselect", @tabindex = "21", required = "" })

                                </div>

                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="EthicityField">Ethicity</label>
                                    <input type="text" class="form-control" id="EthicityField" placeholder="Eithicity">
                                </div>
                                <div class="col-xs-12 col-sm-6 form-group">
                                    <label for="NationalityField">Nationality</label>
                                    <input type="text" class="form-control" id="NationalityField" placeholder="Nationality" required value="" size="14" tabindex="10">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Talent 1</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 form-group">
                                                    <label for="skill1NameField">Area Of Expertise</label>

                                                    @Html.DropDownListFor(model => model.Skills, new SelectList(Model.SubCategoryEntities.Where(x => x.CategoryName == "Category" && x.ParentId != null), "SubCategoryId", "SubCategoryValue"), "--Please Select--",
                                                                                      new { @id = "skill1NameField", @name = "skill1NameField", @class = "form-control", @tabindex = "26", required = "" })


                                                </div>
                                                <div class="col-xs-12 col-sm-12 form-group">
                                                    <label for="skill1DescField">Share Your Experience</label>
                                                    <textarea class="form-control" id="skill1DescField" placeholder="Share your Experiences" tabindex="27"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Talent 2</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 form-group">
                                                    <label for="skill2NameField">Area Of Expertise</label>

                                                    @Html.DropDownListFor(model => model.Skills, new SelectList(Model.SubCategoryEntities.Where(x => x.CategoryName == "Category" && x.ParentId != null), "SubCategoryId", "SubCategoryValue"), "--Please Select--",
                                                                                      new { @id = "skill2NameField", @name = "skill2NameField", @class = "form-control", @tabindex = "28" })


                                                </div>
                                                <div class="col-xs-12 col-sm-12 form-group">
                                                    <label for="skill2DescField">Share Your Experience</label>
                                                    <textarea class="form-control" id="skill2DescField" placeholder="Share your Experiences" tabindex="29"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>






                    @{
                        if (User != null)
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 form-group">
                                <input id="profilePublicField" name="profilePublicField" type="checkbox" class="field text fn" tabindex="32">
                                <label for="profilePublicField" style="font-size: 0.9em;" title="The Profile will be visible at jade talent website.">Do you want your profile to be public?</label>

                            </div>
                        </div>
                            }
                        }
                    }
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 form-group">
                            <input type="button" class="action submit btn btn-success" onclick="SubmitTalent()" value="Next" />
                            <input type="submit" id="formsubmit" style="display: none" />
                        </div>
                    </div>

                    @{
                        if (User != null)
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 form-group">
                                @Html.ActionLink("Back To List", "../Admin/Talents")
                            </div>
                        </div>
                            }
                        }
                    }
                </form>
            </div>
        </div>

    </div>
</div>


<script src="../../Scripts/Custom/RegisterTalent.js" type="text/javascript"></script>
